<html>
    <head>

    </head>
    <body>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card" src="Resources/" style="width: 18rem;">
                    <img class="card-img-top" src="~/Resources/2.png" alt="Card image cap">
                    <div class="card-body">
                        <center>
                            <h5 class="card-title">Start application</h5>
                            <p class="card-text">Total simulation runs: @ViewData["simulationCounts"]</p>
                            <a href="@Url.Action("StartApp","Home")" class="btn btn-success">Start app</a>
                        </center>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" src="Resources/" style="width: 18rem;">
                    <img class="card-img-top" src="~/Resources/2.png" alt="Card image cap">
                    <div class="card-body">
                        <center>
                            <h5 class="card-title">Create own virus</h5>
                            <p class="card-text">More then @ViewData["virusTyepsCount"] virus types</p>
                            <a href="@Url.Action("CreateVirus","Home")" class="btn btn-warning">Create virus</a>
                        </center>
                    </div>
                </div>
            </div>
                        <div class="col">
                <div class="card" src="Resources/" style="width: 18rem;">
                    <img class="card-img-top" src="~/Resources/2.png" alt="Card image cap">
                    <div class="card-body">
                        <center>
                            <h5 class="card-title">Show results of simulation</h5>
                            <p class="card-text">Show result of simulations</p>
                            <a href="@Url.Action("Result","Home")" class="btn btn-danger">See results</a>
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>
</html>
<script>
</script>