<link href="~/lib/jquery/dist/jquery.min.js" />
<link href="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" />
<div class="text-center">
    <center>
        <div class="d-flex justify-content-center">

        <div class="p-2">
            <h4 class="display-4 ">Choose simulation from archive : </h4> 
        </div>
        <div class="p-2">
                <button style="min-width:75; min-height:75px" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Simulations
                </button>
                <div class="dropdown-menu" style="max-height:350px; overflow:auto">
                @{
                    IEnumerable<int> mySimulationIds = ViewData["SimulationIdList"] as IEnumerable<int>;
                    foreach (var item in mySimulationIds)
                    {
                            <a class="dropdown-item" href="/Home/Result?id=@item">@item</a>
                    }
                }
                </div>
        </div>
        
    </div>
    </center>

    <div class="card">
        <div class="card-header">
            <center>
            <div class="chart1">
                <div style="width: 1000px; height: 700px"><canvas id="myChart"></canvas></div><br />
               @* <canvas id="myChart" style="width:200px;height:200px"></canvas>*@
            </div>
            </center>
        </div>
    </div>
</div>
<script>
    var AllPeople = [];//these are all javascript variables
    var AllInfectedPeoples = [];
    var AllHealthy = [];
    var Mathematics = [];
    var AllDeadPeoples = [];
    var MyLabelCount = [];

    @if (Model is not null)
    {
        int counter = 0;
        foreach (var item in Model)
        {

            @:AllPeople.push(@item.AllPeople - @item.AllDeadPeoples);
            @:AllInfectedPeoples.push(@item.AllInfectedPeoples);
            @:AllHealthy.push(@item.AllPeople - @item.AllInfectedPeoples);
            @:AllDeadPeoples.push(@item.AllDeadPeoples);
            @:MyLabelCount.push(@counter);
            counter++;
        }
        
        
    }

            
            var Chart2 = document.getElementById('myChart').getContext('2d');
        var chart = new Chart(Chart2, {
            type: 'line',
            data: {
                labels: MyLabelCount,//x axis labels
                datasets: [{
                    label: "All people",
                    backgroundColor: 'transparent',
                    borderColor: "#ff0000",
                    borderWidth: 2,
                    pointBorderColor: false,
                    startAngle: 0,
                    data: AllPeople,
                    fill: false,
                    lineTension: .4,
                    showLine: true,
                }, {
                    label: "Infected",
                    fill: false,
                    lineTension: .4,
                    startAngle: 0,
                    data: AllInfectedPeoples,
                    backgroundColor: "transparent",
                    pointBorderColor: "#660066",
                    borderColor: '#660066',
                    borderWidth: 2,
                    showLine: true,
                }, {
                    label: "Heathy",
                    fill: false,
                    lineTension: .4,
                    startAngle: 0,
                    data: AllHealthy,
                    backgroundColor: "transparent",
                    pointBorderColor: "#00b300",
                    borderColor: '#00b300',
                    borderWidth: 2,
                    showLine: true,
                },
                {
                    label: "Dead",
                    fill: false,
                    lineTension: .4,
                    startAngle: 0,
                    data: AllDeadPeoples,
                    backgroundColor: "transparent",
                pointBorderColor: "#000000",
                borderColor: '#000000',
                    borderWidth: 2,
                    showLine: true,
                }]
            },
            // Configuration options
            options: {
                title: {
                    display: true,
                    text: "Chosen simulation graph"
                },
                plugins: {
                legend: {
                    labels: {
                        // This more specific font property overrides the global property
                        font: {
                            size: 25
                        }
                    }
                }
            },scales: {
            x: {
                ticks: {
                    font: {
                        size: 30,
                    }
                }
            },
            y: {
                ticks: {
                    font: {
                        size: 30,
                    }
                }
            }
        }

            
            }
        });
    
</script>
